{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/ver_aluno.css') }}">
{% endblock %}

{% block body %}
    <table border = 1>
        <thead>
            <th>Nome do Curso</th>
            <th>Carga Horária</th>
            <th>Descrição</th>
            <th>Área</th>
        </thead>
        <tbody>
            {% for curso in cursos %}
                <tr>
                    <td>{{ curso.NomeCurso }}</td>
                    <td>{{ curso.CargaHoraria }}</td>
                    <td>{{ curso.Descricao }}</td>
                    <td>{{ curso.Area }}</td>
                    <td>
                        {# edit button #}
                        <a href="{{ path('edita_curso', {'id': curso.id}) }}" class="btn btn-warning btn-sm">Editar</a>

                        {# delete button with alert confirm #}
                        <form action="{{ path('excluir_curso', {'id': curso.getId()}) }}" method="POST" style="display: inline;" onsubmit="return confirm('Tem certeza que deseja excluir este curso?');">

                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ curso.id) }}">

                            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">Nenhum curso cadastrado</td>
                </tr>            
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cadastro_curso') }}" class="btn btn-cadastro">Cadastro</a>
    <a href="{{ path('home') }}" class="btn btn-home">Home</a>
    

{% endblock %}